
<form action="/enter" method="post" accept-charset="utf-8">

    <div id="form_box">
      <input id="location_form" type="text" name="location" placeholder="Location&hellip;"></input>
      <button type="submit"></button>
    </div>

</form>