
<form action="/main" method="get" accept-charset="utf-8">

  <div>
    <input id="location_form" type="text" name="location" placeholder="City, State or Country&hellip;"></input>
    <button type="submit">Go</button>
  </div>

</form>
