
<% @titles.each do |title| %>
  <p><%= title %></p>
<% end %>

<% @infos.each do |info| %>
  <p><%= info %></p>
<% end %>

<hr noshade>

Powered by the <a href = 'http://openweathermap.org/' target = _new>Open Weather Map API</a>